.iphone {
  width: 379px;
  height: 582px;
  position: absolute;
  left: 315px;
  top: 30px;
}

.userInterface {
  width: 345px;
  height: 400px;
  border: 1px solid lightgray;
  position: absolute;
  right: 315px;
  top: 45px;
}
