.iphone {
  width: 379px;
  height: 582px;
  position: absolute;
  left: 315px;
  top: 30px;
}

.userInterface {
  width: 345px;
  height: 400px;
  border: 1px solid lightgray;
  position: absolute;
  right: 315px;
  top: 45px;
}

.logo {
  width: 200px;
  height: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.logo:hover {
  cursor: pointer;
}

.logoButton:hover {
  cursor: pointer;
}

.input {
  width: 250px;
  height: 35px;
  font-size: 9pt;
  padding-left: 10px;
  outline: none;
  background-color: whitesmoke;
  border: 1px solid lightgray;
  border-radius: 3px;
  margin-bottom: 5px;
}

.login {
  margin-top: 10px;
  width: 264px;
  height: 35px;
  font-size: 10pt;
  color: white;
  background-color: rgb(76, 181, 247);
  border: none;
  border-radius: 10px;
}

.leftBar {
  color: lightgray;
  position: absolute;
  left: 35px;
  bottom: 75px;
}

.or {
  color: darkgray;
  position: absolute;
  left: 162px;
  bottom: 73px;
}

.rightBar {
  color: lightgray;
  position: absolute;
  right: 35px;
  bottom: 75px;
}

.button1 {
  border: none;
  background-color: transparent;
}

.button1:hover {
  cursor: pointer;
}

.button1:active {
  color: lightblue;
}

.fbook {
  width: 18px;
  height: 18px;
  margin-top: 5px;
  position: absolute;
  left: 85px;
  bottom: 55px;
}

.fbookText {
  color: rgb(56, 81, 131);
  font-family: sans-serif;
  font-size: 10pt;
  width: fit-content;
  height: auto;
  position: absolute;
  left: 110px;
  bottom: 55px;
}

.forgot {
  position: absolute;
  left: 115px;
  bottom: 20px;
  color: rgb(0, 55, 105);
  border: none;
  background-color: transparent;
}

.forgot:hover {
  cursor: pointer;
}

.bottomInterface {
  font-family: sans-serif;
  font-size: 11pt;
  text-align: center;
  width: 345px;
  height: fit-content;
  border: 1px solid lightgray;
  position: absolute;
  right: 315px;
  bottom: 205px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.signup {
  color: rgb(76, 181, 247);
}

.gitapp {
  position: absolute;
  bottom: 160px;
  right: 455px;
  font-size: 10pt;
  font-family: sans-serif;
}

.stores {
  width: 300px;
  height: auto;
  position: absolute;
  right: 340px;
  bottom: 115px;
}

.storesButton:hover {
  cursor: pointer;
}
